*{
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.nav{
    z-index: 99999;
    width: 70%;
    height: 50px;
    position: absolute;
    top: 0;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: #f9c8d0;
}
.nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    right: 5%;
}
.nav ul .nav-box{
    position: absolute;
    bottom: 0;
    left: 0;
    /* 如果导航栏就六个导航，那么每个导航的宽度都是整个导航
    的六分之一 */
    width: calc((100% / 4)*1);
    height: 10px;
    border-radius: 2px;
    transition: .5s;
}
.nav ul li{
    width: 100%;
    text-align: center;
}
.nav ul li a{
    color: rgb(70, 100, 180);
    font: 100 30px '优设标题黑';
    display: block;
    width: 100%;
    height: 100%;
    line-height: 70px;
}
.nav ul li:nth-child(1):hover~.nav-box{
    left: calc(100% / 4 *0);
    background-color: rgb(54, 192, 98);
}
.nav ul li:nth-child(2):hover~.nav-box{
    left: calc(100% / 4 *1);
    background-color: rgb(192, 111, 111);
}
.nav ul li:nth-child(3):hover~.nav-box{
    left: calc(100% / 4 *2);
    background-color: #d18df8;
}
.nav ul li:nth-child(4):hover~.nav-box{
    left: calc(100% / 4 *3);
    background-color: #c8d818;
}